@import "./../../../../sass/variables";

.containerNumbers {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    background-color: $background-color;
    margin: 25px 0 15px;
    padding: 6px;
    &-text {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        font-size: large;
        font-weight: bold;
        color: $dark-color;
        min-width: 200px;
     }
}