@import "./../../../../sass/variables";

.containerPagination {
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    padding: 20px;
    margin: auto;
    &-page {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        font-size: large;
        font-weight: bold;
        color: $dark-color;
    }
}