// Colors
$dark-color: #181E38;
$light-color: #EDFC40;
$light-color-disable: #999b84;
$background-color: #f1f2f3;

// breakpoints
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$huge-width: 1280px; 

// Button
$button-width: 120px;
$button-height: 30.59px;

// Generic padding
$padding: 40px;

