@import "./../../../../sass/_variables";

.conatainerMessage {
    width: 641.92px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
    background-color: $background-color;
    color: $dark-color;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 40px;
    height: 100vh;
}